body {
  background-color: #edeadf;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  color: #615b42;
  font-size: 1em;
}
#main h1 {margin: 0px; padding: 5px 100px;}
div#rooms {margin-top: 10px;}
#rooms > div { width: 200px; float: left; background-color: #e2eff3; border: 1px solid #bed9edcc; padding: 3px; text-align: center;}
#rooms .selectable li { cursor: cell; }
#rooms .selectable li.unselectable {
cursor: not-allowed;
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
box-shadow: inset 1px 1px 1px black,
      inset 2px 2px 8px rgba(0,0,0,0.3),
      inset -2px -3px 5px rgba(255,255,255,0.5);
}
#rooms .selectable li.ui-selecting { background: #b8de8f; }
#rooms .selectable li.ui-selected, div.selected { background: #6eac2c; color: white; }
#rooms ul { list-style-type: none; margin: 0; padding: 0; }
#rooms ul li { margin: 1px; padding-left: 0.4em; font-size: .8em; border:1px solid #a6c9e2; color: #222; background-color: #fcfdfd; }
#rooms li.beforeOpen, .beforeOpen {background-color: #ffffcc;}
#rooms li.afterClose, .afterClose {background-color: #ffe2cc;}
.button { margin-left: 50px; }
#timeList {
cursor: default;
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
#key {padding: 25px; display: none;}
#key div{margin-top: 30px; padding: 15px; font-weight: bold; border:1px solid #a6c9e2; color: #222;}
#key div.emphasize {  box-shadow: 5px 5px 5px rgba(0,0,0,0.7); border: 5px double #1c97ef;}
#note {
display: none; 
color: #000;
font-weight: bold;
background-color: #e6a013; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #f2f5c5, #e6a013); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image:    -moz-linear-gradient(top, #f2f5c5, #e6a013); /* For Firefox (3.6 to 15) */
  background-image:      -o-linear-gradient(top, #f2f5c5, #e6a013); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to bottom, #f2f5c5, #e6a013); /* Standard syntax; must be last */
}

.room span.info{
    background-color: #0078ae;
    background-image: url("images/ui-icons_e0fdff_256x240.png");
    border: 1px solid #77d5f7;
    width: 16px;
    height:  16px;
    background-position: -16px -144px;
    cursor: help;
}

#selectedDate {
  background-color: #7c9a45;
  border: 0 none;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  }

#intro{
    background-color: #fff;
    background: no-repeat fixed url("images/libraryHome6.jpg");
    background-size: 1200px auto;
    height:  650px;
    
}

#startDemo {
    border: 6px double #34db1b;
    width: 150px;
    position: absolute;
    top: 560px;
    left: 510px;
    height: 80px;
    cursor: pointer;
    text-align: right;
    padding: 3px;
    color: #fff;
}

#startDemo p {
    width: 60%;
    margin: 0px 0px 0px auto;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: auto;
    background-color: #000;
    padding: 3px 4px 12px 3px;
    font-weight: bold;
    font-size: 1.4em;
}

#dialog .ui-dialog-buttonpane{margin-top: 5px; padding: 1px;}

/* utilities
----------------------------------------------------------*/

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.hidden
{
    display: none;
}

.aCenter
{
    text-align: center;
}

.aRight
{
    text-align:right;
}

.aLeft
{
    text-align: left;
}

.aTop
{
    vertical-align: top;
}

.centered
{
    margin-left: auto;
    margin-right: auto;
}



.bg-lt-green
{
    background-color: #dff0d8;
}

.bg-lt-blue
{
    background-color: #d9edf7;
}

.bg-lt-yellow
{
    background-color: #fcf8e3;
}

.bg-lt-red
{
    background-color: #f2dede;
}

.bg-solid-blue
{
    background-color: #337ab7;
    color: #fff;
}

.bold {
	font-weight: bold;
}

.p5
{
    padding: 5px;
}

ul.nUL
{
    margin: 0;
}

ul.striped li:nth-child(odd)
{
 background-color:rgba(235, 235, 235, 1);   
}

.tdS td
{
    font-size: 0.8em;
}

.mtb3
{
    margin: 3px 0px;
}

.f8
{
    font-size: 0.8em;
}

/* --------------formatted table styles------------------------ */
.fTable
{
    border-collapse: collapse;
    border: 2px solid black;
}

.fTable td
{
    border: 1px solid black;
    padding: 3px;
}

.fTable tr:nth-child(odd)
{
    background-color: rgba(217, 217, 217, 1);
}

.fTable tr:nth-child(even)
{
    background-color: #ffffff;
}

.fTable tr.out{
    background-color:rgba(200, 229, 243, 1);
}

.fTable th
{
    /*background: url(themes/jquery-ui-1.11.0.BlackTie/images/ui-bg_hexagon_55_000000_12x10.png) #000000 50% 50%;
    color: #ffffff;*/
    border: 1px solid white;
    padding: 4px;
}

header h1{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

/* Calendar UI */
.this-week a.ui-state-default:not(.ui-state-highlight):not(.ui-state-active)
{
  background: #ece8da url("images/ui-bg_gloss-wave_100_ece8da_500x100.png") 50% 50% repeat-x;
  color: black;
  
}

.this-week a.ui-state-default::before {
  content: "*";
}

/* Make it look like the Fitchburg library website */
#main {
  margin: 0 auto;
  max-width: 980px;
  min-width: 980px;
}

#structuralContainer1 {
  background-color: #fff;
  border: 0 none;
  -webkit-box-shadow: 0 0 3px #e5e1d3;
  -moz-box-shadow: 0 0 3px #e5e1d3;
  box-shadow: 0 0 3px #e5e1d3;
  margin-top: .5em;
  margin-bottom: 1em;
  padding: .5em .5em .5em .5em;
}

#structuralContainer2 {
  border-right: 1px solid #ece9de;
  padding-right: 1em;
}

#structuralContainer3 {
  background-color: #01455e;
  border: 0 none;
  margin-bottom: 0;
}

.contentWrapMain {
  float: left;
  padding: 0;
  margin-left: 32%;
  width: 68%;
}

.sidebar {
  float: left;
  padding: 0 0;
  width: 30%;
  margin-left: -100%;
}

#datepicker {
  width: 96%;
  margin: 0 auto;
  margin-top: .5em;
  font-size: .9em;
}

#date-message {
  width: 78%;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 5px;
  color: black;
}
