body {
}


#rooms div { width: 200px; float: left; border: 1px solid #bed9ed66; padding: 3px; text-align: center;}
      #rooms .selectable li { cursor: pointer; }
      #rooms .selectable li.unselectable {
        cursor: not-allowed;
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
        box-shadow: inset 1px 1px 1px black,
              inset 2px 2px 8px rgba(0,0,0,0.3),
              inset -2px -3px 5px rgba(255,255,255,0.5);
      }
      #rooms .selectable li.ui-selecting { background: #b8de8f; }
      #rooms .selectable li.ui-selected { background: #6eac2c; color: white; }
      #rooms ul { list-style-type: none; margin: 0; padding: 0; }
      #rooms ul li { margin: 1px; padding-left: 0.4em; font-size: .8em; border:1px solid #a6c9e2; color: #222; background-color: #fcfdfd; }
      #rooms li.beforeOpen, .beforeOpen {background-color: #ffffcc;}
      #rooms li.afterClose, .afterClose {background-color: #ffe2cc;}
      .button { margin-left: 50px; }
      #timeList {
        cursor: default;
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
      }
      #key {padding: 25px; display: none;}
      #key div{margin-top: 30px; padding: 15px; font-weight: bold; border:1px solid #a6c9e2; color: #222;}
      #key div.emphasize {  box-shadow: 5px 5px 5px rgba(0,0,0,0.7); border: 5px double #1c97ef;}

/* utilities
----------------------------------------------------------*/

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.hidden
{
    display: none;
}

.aCenter
{
    text-align: center;
}

.aRight
{
    text-align:right;
}

.aLeft
{
    text-align: left;
}

.aTop
{
    vertical-align: top;
}

.centered
{
    margin-left: auto;
    margin-right: auto;
}

.darkBG
{
    background: url(images/ui-bg_hexagon_15_000000_12x10.png) #000000 50% 50%;
    color: #ffffff;
}

.lightBG
{
    background: url(images/ui-bg_hexagon_25_000000_12x10.png) #000000 50% 50%;
    color: #fff;
}

.bg-lt-green
{
    background-color: #dff0d8;
}

.bg-lt-blue
{
    background-color: #d9edf7;
}

.bg-lt-yellow
{
    background-color: #fcf8e3;
}

.bg-lt-red
{
    background-color: #f2dede;
}

.bg-solid-blue
{
    background-color: #337ab7;
    color: #fff;
}

.bold {
	font-weight: bold;
}

.p5
{
    padding: 5px;
}

ul.nUL
{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.striped li:nth-child(odd)
{
 background-color:rgba(235, 235, 235, 1);   
}

.tdS td
{
    font-size: 0.8em;
}

.mtb3
{
    margin: 3px 0px;
}

.f8
{
    font-size: 0.8em;
}

/* --------------formatted table styles------------------------ */
.fTable
{
    border-collapse: collapse;
    border: 2px solid black;
}

.fTable td
{
    border: 1px solid black;
    padding: 3px;
}

.fTable tr:nth-child(odd)
{
    background-color: rgba(217, 217, 217, 1);
}

.fTable tr:nth-child(even)
{
    background-color: #ffffff;
}

.fTable tr.out{
    background-color:rgba(200, 229, 243, 1);
}

.fTable th
{
    /*background: url(themes/jquery-ui-1.11.0.BlackTie/images/ui-bg_hexagon_55_000000_12x10.png) #000000 50% 50%;
    color: #ffffff;*/
    border: 1px solid white;
    padding: 4px;
}

header h1{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

